.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

.container .block{
    padding:20px;
    color: white;
    font-size: 4em;
    font-weight:bold;
    text-align:center;
}

.block.block1{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: purple;
}
.block.block2 {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: royalblue;
}
.block.block3{
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: cornflowerblue;
}
.block.block4{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: cadetblue;
}

.block.block5{
    display: none;
}

.block.block6{
    display: none;
}

.block.block7{
    display: none;
}

.block.block8{
    display: none;
}

.block.block9{
    display: none;
}
