body{
    font-family:sans-serif;
}
.zoekOpdracht {
    width: 100%;
}

.zoekbalkKnop {
    width: 100%;
    background-color: green;
    height: 30px;
    color: white;
    border: white;
    border-radius: 4px;
}

p {
    margin: 5px;
    padding-bottom: 5px;
}

body > section:nth-child(1) > p:nth-child(5){
    color: gray;
    font-size: 10px;
}